
.App-logo {
  height: 100px;
  vertical-align: middle;
}


.App-header {
  background-color: #282c64;
  margin-top: 20px;
  display: block;
  text-align: center;
  font-size: 50px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.sidebar {
  width: 200px;
  margin: 20px;
  height: 200px;
}
/* 
.bodyImage {
  width: 400px;
  display: inline;
  margin: 20px;
} */
